/* 
  Libraries
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Variables
*/
:root {
  --text-color: #000;
  /* --surface-color: #fff; */
  --gradient-start: #e3f0f0;
  --gradient-end: #bcc8e3;
}
å
[data-theme="dark"] {
  --text-color: #fff;
  /* --surface-color: #292929; */
  --gradient-start: #0e4445;
  --gradient-end: #13152e;
}

/* 
  App
*/
* {
  overscroll-behavior-y: contain;
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden;

  font-family: "Inter", sans-serif;
  background-color: var(--surface-color);

}

#react-root > div {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  /* padding-top: 4rem; */
  /* align-items: center; */
}

::-webkit-scrollbar {
  display: none;
}

/* 
  Views
*/
.profile-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". avatar ."
    "tabs tabs tabs"
    "tabs tabs tabs"
    "tabs tabs tabs";

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "avatar"
      "tabs"
      "tabs"
      "tabs";

  }
}

.profile-avatar {
  grid-area: avatar;
}

.profile-tabs {
  grid-area: tabs;
}

.explore-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    ". detector ."
    ". detector ."
    "selector selector selector"
    "selector selector selector";

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "detector"
    "detector"
    "selector"
    "selector";

  }
}

.explore-detector {
  grid-area: detector;
}

.explore-selector {
  grid-area: selector;
}

.play-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "leaderboard leaderboard matches"
    "gallery gallery matches"
    "gallery gallery matches"
    "gallery gallery matches";

  @media (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "leaderboard leaderboard"
    "matches matches"
    "gallery gallery"
    "gallery gallery"

  }
}

.play-leaderboard {
  grid-area: leaderboard;
}

.play-matches {
  grid-area: matches;
}

.play-gallery {
  grid-area: gallery;
}

.deck-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "stats . ."
    "plants plants plants"
    "plants plants plants"
    "creatures creatures creatures"
    "creatures creatures creatures";

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "stats"
    "plants"
    "plants"
    "creatures"
    "creatures";
  }
}

.deck-stats {
  grid-area: stats;
}

.deck-plants {
  grid-area: plants;
}

.deck-creatures {
  grid-area: creatures;
}

/* 
  Components
*/
.dot {
  position: absolute;
  opacity: 0.27;
  animation: dot-fade 1s infinite;
  @apply w-4;
  @apply h-4;
  @apply rounded-full;
}

@keyframes dot-fade {
  0%,
  50%,
  100% {
    opacity: 0.27;
  }
  25% {
    opacity: 1;
  }
}

.unselectable {
  user-select: none;
}
